<div class="top-banner">
    <span class="top-banner-title">development</span>
</div>
<div class="global-search__header" id="searchHeader">
  <div class="header-wrapper">
    <div class="header-right-tool">
      <div class="btn-menu-header">
        <button mat-mini-fab
          *ngIf="authService.isAuthenticated()"
          [matMenuTriggerFor]="navMenu"
        ><i class="fa fa-bars"></i></button>
        <mat-menu #navMenu="matMenu">
          <button mat-menu-item (click)="goto(3)">
              Saved Searches
          </button>
          <button mat-menu-item (click)="goto(4)">
              Saved Results
          </button>
          <button mat-menu-item (click)="profile()">
              <i class="fa fa-user"></i>
              Profile
          </button>
          <button mat-menu-item (click)="logout()">
              <i class="fa fa-sign-out"></i>
              Log Out
          </button>
        </mat-menu>
        <button mat-mini-fab
          *ngIf="!authService.isAuthenticated()"
          [matMenuTriggerFor]="loginMenu"
        ><i class="material-icons">perm_identity</i></button>
        <mat-menu #loginMenu="matMenu">
          <button mat-menu-item (click)="authService.login()">
              <i class="material-icons">
                  perm_identity
              </i> Sign In 
          </button>
        </mat-menu>
      </div>
      <div class="auth">
        <button mat-button
          *ngIf="!authService.isAuthenticated()"
          class="login-button"
          (click)="authService.login()"
        >Sign In <i class="material-icons">perm_identity</i></button>
        <button mat-button
          [matMenuTriggerFor]="profileMenu"
          *ngIf="authService.isAuthenticated()"
          class="profile-menu"
        >
          {{nickname}} <i class="material-icons">perm_identity</i>
        </button>
        <mat-menu #profileMenu="matMenu">
          <button mat-menu-item (click)="profile()"><i class="fa fa-user"></i>Profile</button>
          <button mat-menu-item (click)="logout()"><i class="fa fa-sign-out"></i>Log Out</button>
        </mat-menu>
      </div>
    </div>
    <div class="logo-wrapper">
      <div class="logo">
          <img src="assets/images/logo.svg" alt="logo svg">
      </div>
    </div>
    <div class="global_search__form-wrapper">
      <form id="search-form" class="global-search__form">
        <app-searchinput></app-searchinput>
        
        <nav mat-tab-nav-bar class="global-navbar">
          
          <a mat-tab-link
            [active]="activeLinkIndex === 0"
            (click)="goto(0)"
          >
            Web
          </a>
          <a mat-tab-link
            [active]="activeLinkIndex === 1"
            (click)="goto(1)"
          >
            Map
          </a>
          <a mat-tab-link
            [active]="activeLinkIndex === 2"
            (click)="goto(2)"
          >
            Secure
          </a>
          <div class="saved navbar-spacer" *ngIf="authService.isAuthenticated()">|</div>
          <a mat-tab-link
            [active]="activeLinkIndex === 3"
            (click)="goto(3)"
            *ngIf="authService.isAuthenticated()"
            class="saved"
          >
            Saved Searches
          </a>
          <a mat-tab-link
            [active]="activeLinkIndex === 4"
            (click)="goto(4)"
            *ngIf="authService.isAuthenticated()"
            class="saved"
          >
            Saved Results
          </a>
        </nav>
      </form>
                  
    </div>
  </div>
</div>