<div class="top-banner">
    <span class="top-banner-title">development</span>
</div>
<div class="global-search__header" id="searchHeader">
  <div class="header-wrapper">
    <div class="header-right-tool">
      <div class="auth">
        <button mat-button
          *ngIf="!authService.isAuthenticated()"
          class="login-button"
          (click)="authService.login()"
        >Sign In <i class="material-icons">perm_identity</i></button>
        <button mat-button
          [matMenuTriggerFor]="profileMenu"
          *ngIf="authService.isAuthenticated()"
          class="profile-menu"
        >
          {{nickname}} <i class="material-icons">perm_identity</i>
        </button>
        <mat-menu #profileMenu="matMenu">
          <button mat-menu-item (click)="profile()"><i class="fa fa-user"></i>Profile</button>
          <button mat-menu-item (click)="logout()"><i class="fa fa-sign-out"></i>Log Out</button>
        </mat-menu>
      </div>
    </div>
    <div class="logo-wrapper">
      <div class="logo">
          <img src="assets/images/logo.svg" alt="logo svg">
      </div>
    </div>
    <div class="global_search__form-wrapper">
      <form id="search-form" class="global-search__form">
        <mat-form-field>
          <input matInput placeholder="Search">
        </mat-form-field>
        <nav mat-tab-nav-bar>
          <a mat-tab-link
            *ngFor="let routeLink of routeLinks; let i = index;"
            
            [active]="activeLinkIndex === i"
            (click)="activeLinkIndex = i"
          >
            {{routeLink.label}}
          </a>
          <router-outlet></router-outlet>
        </nav>
      </form>
                  
    </div>
  </div>
</div>