article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
pre,
section,
summary {
    display: block
}

.url,
code,
pre {
    overflow: auto
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box
}

body {
    margin: 0
}

*,
:after,
:before {
    box-sizing: inherit
}

:focus,
a:active,
a:hover {
    outline: 0
}

body,
html {
    height: 100%;
    font-family: MaisonNeue, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
    color: #3B454F;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px
}

::selection {
    color: #fff;
    background: #3257ec
}

::-moz-selection {
    color: #fff;
    background: #3257ec
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent;
    color: #3257ec;
    text-decoration: none
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

.view--hosted-site-search .pane .view-title,
h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

hr {
    box-sizing: content-box;
    height: 0
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

a:hover {
    color: #5878f9
}

p {
    color: #6c7987;
    line-height: 1.5
}

p a {
    text-decoration: underline
}

p strong {
    color: #3B454F;
    font-weight: 600
}

.url,
code,
pre {
    font-family: Menlo, Monaco, "Andale Mono", "Courier New", monospace;
    background-color: #F9FAFB;
    border: 1px solid #C5D1DE;
    border-radius: 3px;
    color: #c51414
}

.url,
code {
    font-size: .75em
}

code {
    padding: 1px 5px
}

a code {
    background-color: #EFF8FF;
    border-color: #CDE9FF
}

pre code,
pre code span.err {
    border: 0
}

pre {
    padding: 1rem;
    width: 100%
}

pre code {
    padding: 0;
    background: 0 0
}

.capitalize {
    text-transform: uppercase;
    letter-spacing: .08em
}

.material-icons.md-18 {
    font-size: 18px
}

.material-icons.md-24 {
    font-size: 24px
}

.material-icons.md-28 {
    font-size: 28px
}

.material-icons.md-32 {
    font-size: 32px
}

.material-icons.md-36 {
    font-size: 36px
}

.material-icons.md-48 {
    font-size: 48px
}

.pt-4 {
    padding-top: 4px!important
}

.mt-10 {
    margin-top: 10px!important
}

.mb-0 {
    margin-bottom: 0!important
}

.h-inherit {
    height: inherit!important
}

.mat-tab-link {
    min-width: 100px !important;
}


.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, 
.mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus, 
.mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, 
.mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
    color: #3257ec;
    font-weight: 700
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    /* background: #3257ec; */
}


.mat-form-field-appearance-legacy.mat-focused .mat-form-field-label {
    color: #3257ec;
}
/* .mat-form-field-appearance-legacy.mat-focused .mat-form-field-underline {
    background-color: #3257ec!important;
} */

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #3257ec;
}

.mat-checkbox-layout { white-space: normal !important; }