<mat-form-field>
    <input matInput matPrimary placeholder="Search" [(ngModel)]="query" name="query" (click)="inputClick()" autocomplete="off">
</mat-form-field>
<div class="dropdown-box" [ngClass]="{hide: !showDropDown}">
    <ul *ngIf="query != ''">
        <li *ngFor="let item of items; let i = index" class="dropdown-item" (click)="itemClick($event)">
            <div>
                <span [innerHTML]="renderItem(item)"></span>
                <span *ngIf="isIncludeInCookie(item)" class="remove" (click)="removeQueryInCookie(item, i)">remove</span>
            </div>
        </li>
    </ul>
</div>