.mat-form-field {
    width: 100% !important;
    margin-top: 18px;
    display: block;
}

/* .b_searchboxSubmit {
    height: 45px;
    width: 45px;
    border: 8px solid #fff;
    background: #fff url(../../../assets/images/hpc25.png) no-repeat;
    background-position: -169px -63px;
    overflow: hidden;
    vertical-align: top;
    right: 0;
    position: absolute;
} */

.dropdown-box {
    margin-top: -35px;
    width: 100%;
    position: relative;
    z-index: 100;
    background: white;
    box-shadow: 0 10px 20px rgba(182, 157, 157, 0.19), 0 3px 3px rgba(0,0,0,0.23);
}

.dropdown-box ul {
    list-style-type: none;
    padding: 0;
}

.dropdown-box ul li {
    line-height: 30px;
    background: white;
    padding: 3px;
    cursor: pointer;
}

.dropdown-box ul li:hover{
    background: #f5f5f5;
}

.dropdown-box ul li.active {
    background: #f5f5f5 !important;
}

.dropdown-item ::ng-deep span.remove {
    color: #36c;
    float: right;
}

.dropdown-item ::ng-deep span.remove:hover {
    text-decoration: underline;
}