<div class="b_searchboxForm">
    <input class="b_searchbox" placeholder="Search" [(ngModel)]="query" name="query" (click)="inputClick()" autocomplete="off">
    <input type="submit" class="b_searchboxSubmit" (click)="clickSearchIcon()">
</div>

<div class="dropdown-box" [ngClass]="{hide: !showDropDown}">
    <ul *ngIf="query != ''">
        <li *ngFor="let item of items; let i = index" class="dropdown-item" (click)="itemClick($event)">
            <div>
                <span [innerHTML]="renderItem(item)"></span>
                <span *ngIf="isIncludeInCookie(item)" class="remove" (click)="removeQueryInCookie(item, i)">remove</span>
            </div>
        </li>
    </ul>
</div>