.global-search {
    
}

.search-ui-container {
    left: 0;
    width: 100vw;
    height: calc(100vh - 170px);
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex
}

.search-ui-container:after {
    content: "";
    display: table;
    clear: both
}

@media (max-width:600px) {
    .search-ui-container {
        padding-left: 1rem;
        padding-right: 1rem
    }
}

@media (min-width:1280px) {
    .search-ui-container {
        max-width: 1400px
    }
}

.s-sidebar__trigger {
    visibility: hidden
}

:host ::ng-deep .component-container {
    display: flex !important;
    height: 100%;
}

:host ::ng-deep .facets {
    display: block;
    width: 300px;
    min-height: 200px;
    margin-right: 50px
}

@media (max-width:960px) {
    :host ::ng-deep .facets {
        position: absolute;
        z-index: 2;
        background-color: #fff;
        padding: 20px;
        display: block;
        margin: 0;
        left: 0;
        box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
        -webkit-transform: translateX(-300px);
        -moz-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
        -o-transform: translateX(-300px);
        transform: translateX(-300px);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .23s ease-out;
        -moz-transition: all .23s ease-out;
        -o-transition: all .23s ease-out;
        -ms-transition: all .23s ease-out;
        transition: all .23s ease-out
    }

    :host ::ng-deep .s-sidebar__trigger {
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: rgba(34, 34, 34, .45)
    }

    :host ::ng-deep .s-sidebar__trigger.active + div .facets {
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
        opacity: 1;
        visibility: visible
    }
    :host ::ng-deep .s-sidebar__trigger {
        z-index: 2;
        left: 0;
        border-left: none;
        visibility: visible;
        padding-left: 10px;
        padding-top: 10px;
        color: #ecf4f9
    }
    :host ::ng-deep .s-sidebar__trigger.scrolling {
        visibility: hidden
    }
}

:host ::ng-deep .results-container {
    width: 100%
}